.proposicao {
    border-radius: 8px;
    border: none;
}

.proposicao__body {
    padding-top: 10px;
    padding-bottom: 0;
}

.proposicao__wrapper {
    display: flex;
    justify-content: space-between;
}

.proposicao__usuario--data {
    display: flex;
    align-items: center;
}

.proposicao__foto {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    margin: 0 5px 0 0;
    border-radius: 50%;
}
