.alterarDados {
    padding: 20px 0;
}

.alterarDados__wrapper {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 420px;
    margin: auto;
    border-radius: 15px;
}

.body {
    width: 380px;
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.confirmarAlteracoes {
    display: flex;
    margin: auto;
    margin: 10px auto 20px auto;
}
