.editarProposicao {
    display: flex;
    align-items: center;
}

.editarProposicao__wrapper {
    align-items: center;
    width: 410px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
